@import url("https://fonts.googleapis.com/css?family=Lato:700|Mukta+Malar");
@import url("https://fonts.googleapis.com/css?family=Rammetto+One");

/* font-family: 'Mukta Malar', sans-serif;
font-family: 'Rammetto One', cursive;
    font-family: 'Lato', sans-serif; */

:root {
  --colorWhite: #fff;
  --colorOrange: #f89156;
  --colorCream: #fdf7f2;
  --colorGray: #191819;

  --fontHeadings: "Lato", sans-serif;
  --fontNormal: "Mukta Malar", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: var(--colorWhite);
  background-color: var(--colorGray);
  font-family: var(--fontNormal);
  font-size: 1.8rem;
  line-height: 160%;
  font-weight: 300;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: var(--fontHeadings);
  color: var(--colorOrange);
}

img {
  display: block;
  max-width: 100%;
}

a {
  font-weight: 700;
  color: var(--colorOrange);
}

a:focus,
a:hover {
  text-decoration: none;
}

em {
  font-weight: 500;
  color: var(--colorOrange);
  font-style: normal;
}

#logo {
  font-size: 1.5em;
  color: var(--colorWhite);
  font-family: "Rammetto One", cursive;
  text-shadow: 0 0 1px var(--colorGray);
  text-decoration: none;
  cursor: auto;
}
#logo span {
  color: var(--colorOrange);
}

.header {
  background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/backgrounds/running.jpg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url(../images/backgrounds/running.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}

.header .tagline {
  display: none;
}

@media screen and (min-width: 600px) {
  .header {
    background: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/backgrounds/running.jpg);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
      url(../images/backgrounds/running.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    max-height: 800px;
  }
}

@media screen and (min-width: 600px) {
  .header .tagline {
    display: block;
    color: var(--colorCream);
    max-width: 40em;
    line-height: 140%;
    font-size: 2.5rem;
  }
  .header .tagline h1 {
    display: none;
  }
  .header .tagline em {
    font-size: 140%;
    color: var(--colorCream);
    font-style: normal;
  }
}

.nav {
  margin-top: 1.75rem;
  /* navelements */
}
.navbar {
  display: flex;
  justify-content: center;
}

.nav .nav-elements .branding {
  max-width: 180px;
  margin: 0 auto;
}

.nav .nav-elements .navbar {
  margin: 0;
  padding: 0;
  line-height: 120%;
  list-style-type: none;
  margin-top: 2rem;
  width: 100%;
}

.nav .nav-elements .navbar a {
  color: var(--colorWhite);
  text-decoration: none;
  padding: 0 1rem;
  -webkit-transition: 500ms ease-out;
  transition: 500ms ease-out;
}

.nav .nav-elements .navbar a:after {
  content: "";
  display: block;
  height: 4px;
  width: 0;
  margin: 0 0.5rem;
  -webkit-transition: width 0.3s ease-out, background-color 0.3s ease-out;
  transition: width 0.3s ease-out, background-color 0.3s ease-out;
}

.nav .nav-elements .navbar a:hover {
  color: var(--colorCream);
}

.nav .nav-elements .navbar a:hover:after {
  width: 100%;
  background: var(--colorWhite);
}

.nav .nav-elements .forecast {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 350px;
  min-width: 250px;
}

.nav .nav-elements .forecast p {
  text-align: center;
  margin: 0.4em;
}

.nav .nav-elements .forecast img {
  display: inline-block;
  width: 1.8em;
  height: 1.8em;
  vertical-align: bottom;
}

.nav .nav-elements .forecast .prefs,
.nav .nav-elements .forecast .results {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
}

.nav .nav-elements .forecast .prefs h3,
.nav .nav-elements .forecast .results h3 {
  background-color: var(--colorGray);
  padding: 0.2em;
  text-align: center;
}

.nav .nav-elements .forecast .prefs {
  border: 1px solid var(--colorCream);
  text-align: center;
}

.nav .nav-elements .forecast .prefs .hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.nav .nav-elements .forecast .prefs form div {
  display: inline-block;
}

.nav .nav-elements .forecast .prefs .conditions .city {
  font-weight: bold;
}

.nav .nav-elements .forecast .results {
  /*    display: none; */
  height: auto;
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.3s ease-out;
}

.nav .nav-elements .forecast .open {
  /*    display: block; */
  max-height: 250px;
  border: 1px solid var(--colorCream);
  border-top: none;
}

.nav .nav-elements .forecast .results .options {
  text-align: center;
  border-bottom: 1px solid var(--colorCream);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav .nav-elements .forecast .results .options div {
  display: inline-block;
  width: 33.33%;
  padding: 0.25em 1em;
  margin: 0;
  border: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav .nav-elements .forecast .results .options #team {
  border-left: 1px solid var(--colorCream);
  border-right: 1px solid var(--colorCream);
}

.nav .nav-elements .forecast .results .options div:hover {
  background-color: var(--colorGray);
  color: var(--colorWhite);
}

.nav .nav-elements .forecast .results .options .selected {
  background-color: var(--colorOrange);
}

.nav .nav-elements .forecast .results .options .selected:hover {
  background-color: var(--colorOrange);
  color: var(--colorGray);
}

.nav .nav-elements .forecast .results .activities {
  max-height: 125px;
  overflow: scroll;
}

.nav .nav-elements .forecast .results .activities ul {
  margin: 0.25em 0 0;
}

@media screen and (min-width: 600px) {
  .nav .nav-elements {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 600px) {
  .nav .nav-elements .branding {
    width: 30%;
    margin: 0;
  }
}

@media screen and (min-width: 600px) {
  .nav .nav-elements .forecast {
    margin-left: 1em;
    width: 250px;
  }
}

@media screen and (min-width: 1050px) {
  .nav .nav-elements .navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

/* nav */

.footer {
  background-color: var(--colorGray);
  color: var(--colorCream);
  padding: 0 0 5em;
  line-height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;

  background: -webkit-linear-gradient(top, transparent, var(--colorGray)),
    url(../images/backgrounds/discthrower.jpg);
  background: linear-gradient(180deg, transparent, var(--colorGray)),
    url(../images/backgrounds/discthrower.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  max-height: 800px;
}

.footer .nav {
  margin-top: 0;
}

.footer .legal {
  max-width: 700px;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 110%;
  margin-top: 3rem;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-container li {
  list-style: none;
  text-decoration: none;
  padding: 0 1em;
}
.section {
  min-height: 40vh;
  max-width: 1024px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 160%;
}

.section .headline {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 4rem;
  margin-top: 3rem;
  line-height: 110%;
}

.section a,
.section em {
  font-size: 140%;
  vertical-align: -6%;
}

@media screen and (min-width: 600px) {
  .section {
    font-size: 2rem;
  }
}

#history {
  /* background-color: var(--colorGray); */
}

#products .product-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  /*.product-item*/
}

#products .product-list .product-item {
  position: relative;
  color: var(--colorCream);
  overflow: hidden;
  width: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0.9;
  /*.product-name*/
}

#products .product-list .product-item .product-name {
  background: var(--colorOrange);
  color: var(--colorCream);
  font-weight: 700;
  font-size: 80%;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: none;
}

#products .product-list .product-item:focus .product-name,
#products .product-list .product-item:hover .product-name {
  display: block;
}

#products .product-list .product-item:focus,
#products .product-list .product-item:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 1;
}

#products .product-list .product-item:focus .product-name,
#products .product-list .product-item:hover .product-name {
  display: block;
  -webkit-animation: a 300ms;
  animation: a 300ms;
}

@-webkit-keyframes a {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes a {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@media screen and (min-width: 600px) {
  #products .product-list .product-item {
    width: 33.33333%;
  }
}

/* @media screen and (min-width: 900px) {
  #products .product-list .product-item {
    width: 25%;
  }
} */

/* @media screen and (min-width: 1200px) {
  #products .product-list .product-item {
    width: 16.66667%;
  }
} */

/* products*/

/* #guarantee {
  font-size: 2rem;
} */

/* #guarantee .imageheader {
  background: -webkit-linear-gradient(top, transparent, var(--colorGray)),
    url(../images/backgrounds/cycling.jpg);
  background: linear-gradient(180deg, transparent, var(--colorGray)),
    url(../images/backgrounds/cycling.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-height: 60vh;
} */

#people {
  background-color: var(--colorWhite);
  /* color: var(--colorWhite); */
  /*.people-cards*/
}

#people .imageheader {
  background: -webkit-linear-gradient(top, transparent, var(--colorGray)),
    url(../images/backgrounds/soccer.jpg);
  background: linear-gradient(180deg, transparent, var(--colorGray)),
    url(../images/backgrounds/soccer.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 100vh;
  max-height: 40vh;
}

/* #people .headline {
  color: var(--colorCream);
  padding-bottom: 2rem;
} */

#people .people-cards .person-card {
  background: var(--colorGray);
  box-shadow: 0 0 10px rgba(104, 104, 104, 0.2);
  border-radius: 20px;
  margin-bottom: 3rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.9;
  /*.card-text*/
}

#people .people-cards .person-card .card-info {
  background: rgba(255, 177, 47, 0.9);
  padding: 3% 7%;
}

#people .people-cards .person-card .card-info .card-name {
  font-size: 2rem;
  line-height: 110%;
  color: var(--colorGray);
}

#people .people-cards .person-card .card-info .card-title {
  color: #5858588e;
  font-size: 1.4rem;
  line-height: 100%;
}

/*.card-info*/

#people .people-cards .person-card .card-text {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 130%;
  margin: 0;
  padding: 7%;
}

#people .people-cards .person-card .card-text em {
  color: var(--colorOrange);
  font-size: 2.2rem;
}

#people .people-cards .person-card:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

@media screen and (min-width: 600px) {
  #people .people-cards {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (min-width: 600px) {
  #people .people-cards .person-card {
    width: calc(100%/2 - 1.5rem);
  }
}

@media screen and (min-width: 1200px) {
  #people .people-cards .person-card {
    width: calc(100%/3 - 1.5rem);
  }
}

/*.people*/
